<div class="admin-storeCategories d-flex jc-center">
    <div class="box-content container d-flex jc-center ">
        <div class="col-100 mt-16">
            <h2> Quản lý danh mục</h2>
            <div class="d-flex jc-between mt-12">
                <h3 class="title-text  mb-8 mt-16">
                    Danh sách danh mục
                </h3>
                <div class="search col-50 mt-16">
                    <input type="text" placeholder="Nhập ít nhất 3 ký tự để tìm kiếm" class="" name="searchItemChat">
                </div>

                <div class="form col-100">
                    <form action="" class="d-flex " id="form-1" method="post" enctype="multipart/form-data">

                        <div class="form-group col-50">
                            <label for="id" class="form-label">Mã số danh mục</label>
                            <input type="number" id="id" name="id" placeholder="" class="form-control" value="">
                            <span class="form-message"></span>
                        </div>
                        <div class="form-group col-50">
                            <label for="name" class="form-label">Tên danh mục</label>
                            <input type="text" id="name" name="name" placeholder="" class="form-control" value="">
                            <span class="form-message"></span>
                        </div>
                        <div class="form-group col-50">
                            <label for="describe" class="form-label">Mô tả</label>
                            <input type="text" id="describe" name="describe" placeholder="" class="form-control"
                                   value="">
                            <span class="form-message"></span>
                        </div>

                        <div class="d-flex col-100 event-form">
                            <button type="button" class="btn  btn-add"><i class="fa fa-plus-square"></i>Thêm</button>
                            <button type="button" class="btn  btn-edit"><i
                                   class="fa fa-pencil-square-o"></i>Sửa</button>
                            <button type="submit" class="btn  btn-save"><i
                                   class="fa-solid fa-floppy-disk"></i>Lưu</button>
                            {{!-- <button type="button" class="btn  btn-delete"><i
                                   class="fa fa-trash-o"></i>Xóa</button> --}}
                            <button type="reset" class="btn  btn-reset"><i class="fa fa-refresh"></i>Làm
                                mới</button>
                        </div>
                    </form>
                </div>


            </div>

            <div class="mt-32 col-100">
                <div class=" table">
                    <table class="contentWrapper">
                        <thead>
                            <tr>
                                <th class="">#</th>
                                <th class="">Mã danh mục</th>
                                <th class="">Tên danh mục</th>
                                <th class="">Mô tả</th>
                                <th class="">Tổng số tin</th>
                                <th class="">Thao tác</th>
                            </tr>
                        </thead>
                        <tbody class="tbody">

                            {{#each data}}
                            <tr>
                                <td>{{sum @index ../pagination.currentPage}}
                                </td>
                                <td>
                                    <p class="text"> {{this.ma_so}}</p>
                                </td>
                                <td>
                                    <p class="text">{{this.ten_chuyen_muc}} </p>
                                </td>
                                <td>
                                    <p class="text">{{this.mo_ta}} </p>
                                </td>
                                <td>
                                    <p class="text">{{this.tong_so_tin }}</p>
                                </td>
                                <td class="">
                                    <div class="pd-4 col-50">

                                        <a href="/admin/quan-ly-danh-muc/{{this.ma_so}}" class="btn btn-edit ">
                                            <i class="fa-regular fa-pen-to-square"></i>Sửa</a>
                                    </div>
                                    <div class="pd-4 col-50">
                                        <a href="{{this.ma_so}}" data-name="{{this.ten_thanh_pho}}"
                                           class="btn btn-delete mt-5 "><i class="fa-solid fa-trash"></i>
                                            Xóa</a>
                                    </div>
                                </td>
                            </tr>
                            {{else}}
                            <tr>
                                <td colspan="5" class="text-center" style="display: table-cell;">
                                    Chưa có thành phố nào.
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>

                </div>
                <div class="d-flex jc-center mt-24 mb-32">

                    <ul class="pagination" data-currentpage="{{pagination.currentPage}}"
                        data-totalpage="{{pagination.totalPages}}">

                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>


{{>modalDelete}}