<div class="user d-flex jc-center">
    {{>navbarUser}}

    <div class="box-content container d-flex jc-center ">
        <div class="col-80">
            <div class="mt-16">
                {{!-- <h2> Tin đăng đã xem </h2> --}}
                <h3 class="title-text   mt-16">Danh sách tin tức xem gần đây</h3>

                <div class="mt-16">
                    {{#each data}}
                    <a class="item d-flex" href="/nha-cho-thue/{{this.ma_so_tin_tuc}}">
                        <img src="{{images.[0]}}" alt="">
                        <div class="item-container ">
                            <span class="span-text dark-text">{{this.tieu_de}}</span>
                            <span class="span-text gray-text">{{this.dien_tich}} m²- {{this.floor}} Tầng-
                                {{this.bedroom}}PN</span>
                            <span class="span-text red-text bolder">
                                {{#if this.formattedPrice}}
                                {{this.formattedPrice}} triệu/tháng
                                {{else}}
                                Giá thỏa thuận
                                {{/if}}
                            </span>
                            <span class="span-text gray-text">{{this.ten_nguoi_dung}} · {{this.ngay_tao}} · Quận
                                {{this.ten_quan_huyen}}</span>
                        </div>
                    </a>
                    {{else}}
                    <div class="item-content mt-12">
                        <span colspan="5" class="text-center">
                            Chưa có tin yêu thích nào.
                        </span>
                        <a href="/nha-cho-thue"><span>Xem thêm tin. </span></a>

                    </div>
                    {{/each}}

                    {{#if data}}

                    <div class="d-flex jc-center mt-24 mb-32">

                        <ul class="pagination" data-currentpage="{{pagination.currentPage}}"
                            data-totalpage="{{pagination.totalPages}}">

                        </ul>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>