{{>slider}}
<div id="" class="home d-flex jc-center">
    <section class="container row mt-32  mb-32 content-posts">
        <div class="">
            <div class="d-flex jc-between mt-16  ">
                <h2 class="pd--8-12 ">Cho thuê Bất động sản</h2>
                <div class="d-flex ai-center">
                    <a class="pd--8-12 btn bolder news-hot">Tin nổi bật </a>
                    <span class="re-line "></span>
                    <a class="pd--8-12 btn news-new">Tin mới nhất </a>

                </div>
            </div>

            <div class="d-flex list-posts jc-center contentWrapper">
                {{#each data}}
                <a  href="/nha-cho-thue/{{this.ma_so}}" class="col-25 pd--8-12">
                    <div class="post-item item-content" data-news="{{this.ma_so}}" data-da-like="{{this.da_like}}" >
                        <img src="{{firstFourImages.[0]}}" alt="" class="w-full">
                        <div class="pd--8-12 mt-8">
                            <h3 class="desc-text text">{{this.tieu_de}}
                            </h3>
                            <div class="d-flex  ai-center jc-between mt-12">
                                <span class=" price">
                                    {{#if this.formattedPrice}}
                                    {{this.formattedPrice}} triệu/tháng
                                    {{else}}
                                    Giá thỏa thuận
                                    {{/if}}
                                </span>
                                <span class=" acreage">{{this.dien_tich}} m²</span>
                            </div>
                            <span class=" location mt-12"><i class="fa-solid fa-location-dot"></i>
                                {{this.ten_quan_huyen}} , {{this.ten_thanh_pho}}</span>
                            <div class="d-flex ai-center jc-between mt-12 mb-8">
                                <span class=" .span-text">{{this.ngay_tao}}</span>
                                <div class="btn btn-like">{{#if this.da_like}}
                                    <i class="fa-solid fa-heart"></i>
                                    {{else}}
                                    <i class="fa-regular fa-heart"></i>
                                    {{/if}}</i>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                {{else}}
                <div class="item-content mt-12 text-center">
                    <span colspan="5" class="">
                        Không có tin phù hợp.
                    </span>
                </div>
                {{/each}}
            </div>
            <div class="text-center mt-32">
                <a href="/nha-cho-thue" class="btn btn-sm ">Xem thêm</a>
            </div>
        </div>
    </section>

</div>

<script src="/javascript/home.js"></script>